langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
langchain-ollama
sentence-transformers
langchain_huggingface
chromadb
faiss-cpu
langchain_openai
streamlit
